In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [14]:
import datetime as dt

In [2]:
micosoft_df = pd.read_csv("D:/Users/Josh/Python/microsoft_proj/input_data/MSFT.csv")
micosoft_df.head(3)

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.060657  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062823   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.063907   133171200

In [3]:
micosoft_df.shape

(9339, 7)

In [4]:
#Create a quarterly graph of the stock price
micosoft_df['Date'] = pd.to_datetime(micosoft_df['Date'])
micosoft_df['Year'] = micosoft_df['Date'].dt.year
micosoft_df['Quarter'] = micosoft_df['Date'].dt.quarter
micosoft_df['Month'] = micosoft_df['Date'].dt.month
micosoft_df['Day'] = micosoft_df['Date'].dt.day

micosoft_df.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Quarter,Month,Day
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060657,1031788800,1986,1,3,13
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062823,308160000,1986,1,3,14
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063907,133171200,1986,1,3,17

In [ ]:
# Decide on buying strategies 
# Implement buying strategies
# Compare buying strategies

In [19]:
micosoft_df['First_of_Month'] = micosoft_df['Date'].dt.is_month_start
income_start_date = dt.date(1990,1,1,)
years_since_income_start = micosoft_df['Date'].dt.year - income_start_date.dt.year
avg_annual_raze = 0.05
base_income = 40000
current_income = base_income*((1+avg_annual_raze)^years_since_income_start)

AttributeError: 'datetime.date' object has no attribute 'dt'

In [ ]:
#Create function to increase 2% per year
def income(df):
    df['Income'] = np.where(df['First_of_Month'] == True, current_income, 0)
    return df
def investment_capital(df):
    df['Investment_Capital'] = df['Income']*.2
    return df
#Create function to buy on first of the month
def buy_first_of_month(df):
    df['Buy'] = np.where(df['First_of_Month'] == True, 1, 0)
    return df
#Create function to keep track of the number of shares owned

In [ ]:
micosoft_df = buy_first_of_month(micosoft_df)